section.about
  .content
    .content-block
      h2.title.block-padding(data-language="about-title")!="<?= $language['about']['title'] ?>"
      .about-columns
        .about-column.block-padding(data-language="about-column_left")!="<?= $language['about']['column_left'] ?>"
        .about-column.block-padding(data-language="about-column_right")!="<?= $language['about']['column_right'] ?>"
      .text.block-padding(data-language="about-text_top")!="<?= $language['about']['text_top'] ?>"
      .text.block-padding(data-language="about-text_bottom")!="<?= $language['about']['text_bottom'] ?>"