#contacts.contacts
  span.geo(
    itemtype="http://schema.org/GeoCoordinates"
    itemscope
    itemprop="geo"
  )
    meta(
      itemprop="latitude"
      content="50.4389"
    )
    meta(
      itemprop="longitude"
      content="30.523151"
    )
  #map

  .content
    .form-block
      +form-sending
      +form-error
      +form-success
      .form-wrap
        .title(data-language="contacts-title")!="<?= $language['contacts']['title'] ?>"
        form(
          method="POST"
          action="php/send.php"
        )
          input.language(
            tabindex="-1"
            type="hidden"
            name="language"
            data-language-value="locales-locale"
            value!="<?= $current_language ?>"
          )
          input.input(
            tabindex!="<?= $tabindex++; ?>"
            type="text"
            name="name"
            placeholder!="<?= $language['contacts']['name'] ?>"
            data-language-placeholder="contacts-name"
          )
          input.input.inputmask.required(
            tabindex!="<?= $tabindex++; ?>"
            type="tel"
            name="phone"
            placeholder!="<?= $language['contacts']['phone'] ?>"
            data-language-placeholder="contacts-phone"
          )
          input.input(
            tabindex!="<?= $tabindex++; ?>"
            type="email"
            name="email"
            placeholder!="<?= $language['contacts']['email'] ?>"
            data-language-placeholder="contacts-email"
          )
          button.button.hover(
            tabindex!="<?= $tabindex++; ?>"
            type="submit"
            name="block"
            value="contacts"
            data-language="contacts-send"
          )!="<?= $language['contacts']['send'] ?>"
        .text(data-language="contacts-text")!="<?= $language['contacts']['text'] ?>"