section#kids.kids
  .text-block
    .heading(
      data-language="kids-title"
    )!="<?= $language['kids']['title'] ?>"
    .text(
      data-language="kids-text"
    )!="<?= $language['kids']['text'] ?>"
    .link.modal-button(
      data-language="kids-story"
    )!="<?= $language['kids']['story'] ?>"
  .image
  .important
    .important-title(
      data-language="kids-important"
    )!="<?= $language['kids']['important'] ?>"
    .important-description(
      data-language="kids-description"
    )!="<?= $language['kids']['description'] ?>"

