nav.navigation
  .content
    a.logo(
      href="#header"
    )

    ul.menu
      !="<? foreach($language['menu']['items'] as $anchor => $data): ?>"
      li.menu-item
        a.menu-link(
        data-language!="menu-items-<?= $anchor ?>"
        data-language-title!="menu-items-<?= $anchor ?>"
        href!="#<?= $anchor ?>"
        title!="<?= $data ?>"
        )!="<?= $data ?>"
      !="<? endForeach; ?>"

    .language-switcher
      .menu-item
        a.menu-link.language-link(
          title!="<?= $language['locales']['title'] ?>"
          href!="<?= $language['locales']['href'] ?>"

          data-language-title="locales-title"
          data-language-href="locales-href"
        )
          span(data-language="locales-text")!="<?= $language['locales']['text'] ?>"
