
button.callback-button(
  type="button"
  tabindex!="<?= $tabindex++; ?>"
  data-language-title="modal-callback-button-title"
  title!="<?= $language['modal']['callback']['button']['title'] ?>"
)
  svg.hexagon-icon
    use(xlink:href="#hexagon")
  svg.phone-icon
    use(xlink:href="#phone")

!="<? $tabindex = 1; ?>"
.modal-shadow
  .modal
    .modal-content
      button.close-button(
      data-modal-tabindex="all"
      data-tabindex!="<?= $tabindex++; ?>"
      )
      .callback.form-block
        +form-sending
        +form-error
        +form-success
        .form-wrap
          .title(data-language="modal-callback-title")!="<?= $language['modal']['callback']['title'] ?>"
          .text(data-language="modal-callback-text")!="<?= $language['modal']['callback']['text'] ?>"
          form.form(
            method="POST"
            action="php/send.php"
          )
            input.language(
              tabindex="-1"
              data-tabindex!="<?= $tabindex++; ?>"
              type="hidden"
              name="language"
              data-language-value="locales-locale"
              value!="<?= $current_language ?>"
            )
            input.input.inputmask.required(
              tabindex="-1"
              data-modal-tabindex="callback"
              data-tabindex!="<?= $tabindex++; ?>"
              type="tel"
              name="phone"
              placeholder!="<?= $language['modal']['callback']['phone'] ?>"
              data-language-placeholder="modal-callback-phone"
            )
            button.button.hover(
              tabindex="-1"
              data-modal-tabindex="callback"
              data-tabindex!="<?= $tabindex++; ?>"
              type="submit"
              name="form"
              value="callback"
              data-language="modal-callback-send"
            )!="<?= $language['modal']['callback']['send'] ?>"
      .request.form-block
        !="<? $tabindex = 2; ?>"
        +form-sending
        +form-error
        +form-success
        .form-wrap
          .title(data-language="modal-request-title")!="<?= $language['modal']['request']['title'] ?>"
          form.form(
            method="POST"
            action="php/send.php"
          )
            input.request-target(
              tabindex="-1"
              type="hidden"
              name="block"
              value=""
            )
            input.language(
              tabindex="-1"
              type="hidden"
              name="language"
              data-language-value="locales-locale"
              value!="<?= $current_language ?>"
            )
            input.input.input-name(
              tabindex="-1"
              data-modal-tabindex="request"
              data-tabindex!="<?= $tabindex++; ?>"
              type="text"
              name="name"
              placeholder!="<?= $language['modal']['request']['name'] ?>"
              data-language-placeholder="modal-request-name"
            )
            input.input.inputmask.input-phone.required(
              tabindex="-1"
              data-modal-tabindex="request"
              data-tabindex!="<?= $tabindex++; ?>"
              type="tel"
              name="phone"
              placeholder!="<?= $language['modal']['request']['phone'] ?>"
              data-language-placeholder="modal-request-phone"
            )
            textarea.message(
              tabindex="-1"
              data-modal-tabindex="request"
              data-tabindex!="<?= $tabindex++; ?>"
              name="message"
              placeholder!="<?= $language['modal']['request']['message'] ?>"
              data-language-placeholder="modal-request-message"
            )
            button.button.hover(
              tabindex="-1"
              data-modal-tabindex="request"
              data-tabindex!="<?= $tabindex++; ?>"
              type="submit"
              name="form"
              value="request"
              data-language="modal-request-send"
            )!="<?= $language['modal']['request']['send'] ?>"