section#process.process
  .content
    h2.title.block-padding(data-language="process-title")!="<?= $language['process']['title'] ?>"
      span.tabs.block-padding
        !="<? $i = 0; ?>"
        !="<? foreach($language['process']['tabs'] as $name => $data): ?>"
        span.tab
          span.text(
            data-language!="process-tabs-<?= $name ?>-title"
            data-tab!="<?= $name ?>"
            class!="<?= $i == 0 ? 'active' : '' ?>"
          )!="<?= $data['title'] ?>"
        !="<? $i++; ?>"
        !="<? if($i != count($language['process']['tabs'])): ?>"
        span.delimiter /
        !="<? endIf; ?>"
        !="<? endForeach; ?>"
    .content-block
      .tab-blocks
        !="<? $i = 0; ?>"
        !="<? foreach($language['process']['tabs'] as $name => $data): ?>"
        .tab-block(class!="<?= $i == 0 ? 'show' : 'hide' ?>")
          figure.image
            img(
              alt!="<?= $data['alt'] ?>"
              src!="/images/process/<?= $name ?>.jpg"
              srcset!="/images/process/<?= $name ?>@2x.jpg 2x"
            )
          .data
            !="<? foreach($data['data'] as $index => $template): ?>"

            !="<? switch($template['type']): ?>"
            !="<? case 'text': ?>"
            span(data-language!="process-tabs-<?= $name ?>-data-<?= $index ?>-text")!="<?= $template['text'] ?>"
            !="<? break; ?>"
            !="<? case 'link': ?>"
            a(
              tabindex!="<?= $tabindex++; ?>"
              data-language!="process-tabs-<?= $name ?>-data-<?= $index ?>-text"
              data-language-title!="process-tabs-<?= $name ?>-data-<?= $index ?>-title"
              data-language-href!="process-tabs-<?= $name ?>-data-<?= $index ?>-href"
              title!="<?= $template['title'] ?>"
              href!="<?= $template['href'] ?>"
            )!="<?= $template['text'] ?>"
            !="<? break; ?>"
            !="<? case 'list': ?>"
            !="<? if(isset($template['heading'])): ?>"
            p.list-heading(data-language!="process-tabs-<?= $name ?>-data-<?= $index ?>-heading")!="<?= $template['heading'] ?>"
            !="<? endIf; ?>"
            ul.list
              !="<? foreach($template['items'] as $item_index => $item): ?>"
              li.list-item(data-language!="process-tabs-<?= $name ?>-data-<?= $index ?>-items-<?= $item_index ?>")!="<?= $item ?>"
              !="<? endForeach; ?>"
            !="<? if(isset($template['post_heading'])): ?>"
            p.list-post(data-language!="process-tabs-<?= $name ?>-data-<?= $index ?>-post_heading")!="<?= $template['post_heading'] ?>"
            !="<? endIf; ?>"
            !="<? break; ?>"
            !="<? endSwitch; ?>"
            !="<? endForeach; ?>"
        !="<? $i++; ?>"
        !="<? endForeach; ?>"
      .steps
        !="<? $i = 0; ?>"
        !="<? foreach($language['process']['steps'] as $number => $text): ?>"
        .step(class!="step-<?= $i + 1 ?>")
          .number!="<?= $number ?>"
          .text(data-language!="process-steps-<?= $number ?>")!="<?= $text ?>"
          !="<? if($i == 0): ?>"
          button.button.hover.modal-button(
            type="button"
            tabindex!="<?= $tabindex++; ?>"
            data-target="process"
            data-language="site-button"
          )!="<?= $language['site']['button'] ?>"
          !="<? endIf; ?>"
        !="<? $i++; ?>"
        !="<? endForeach; ?>"