mixin logo
  a.logo(
    tabindex!="<?= $tabindex++; ?>"
    class!="<?= $language['locales']['locale'] ?>"
    title!="<?= $language['header']['logo'] ?>"
    data-language-class
    data-language-title="header-logo"
    href="#start"
  )
    svg.ru
      use(xlink:href="#logo-ru")
    svg.uk
      use(xlink:href="#logo-uk")

mixin form-sending
  .form-sending
    p(data-language="form-sending")!="<?= $language['form']['sending'] ?>"

mixin form-error
  .form-error
    p(data-language="form-error")!="<?= $language['form']['error'] ?>"
    button.button.restore-form(
      type="button"
      data-modal-tabindex="restore"
      tabindex="-1"
      name="repeat"
      data-language="form-repeat"
    )!="<?= $language['form']['repeat'] ?>"

mixin form-success
  .form-success
    p(data-language="form-success")!="<?= $language['form']['success'] ?>"
    button.button.restore-form(
      type="button"
      data-modal-tabindex="restore"
      tabindex="-1"
      name="restore"
      data-language="form-restore"
    )!="<?= $language['form']['restore'] ?>"